<section class="slider-area slider-area2" *ngIf="lesson">
  <div class="slider-active">
    <div class="single-slider slider-height2"></div>
  </div>
</section>

<div class="container my-margin" *ngIf="lesson && teacher">
  <div class="row text-start">
    <div class="col-6">
      <div class="teacher-data">
        <h2>Lekcja</h2>
        <div class="row">
          <div class="col-12">
            <a (click)="openDialog(deleteSound)" class="lesson-icon">
              <button
                mat-mini-fab
                disabled
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </a>
            <a (click)="openEditDialog()" class="lesson-icon">
              <button
                mat-mini-fab
                disabled
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>edite</mat-icon>
              </button>
            </a>
            <audio
              #deleteSound
              src="../../../../../assets/sound/windows_98_error.mp3"
              preload="auto"
            ></audio>
          </div>
        </div>
        <div class="row top-border text-centre">
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>{{
                  getLanguageName(lesson.language)
                }}</span>
                <span>język</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle
                  ><a [routerLink]="'/courses/' + course.id">{{
                    course.name
                  }}</a></span
                >
                <span matListItemLine>nazwa kursu</span>
              </mat-list-item>
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>
                    <a [routerLink]="'/teachers/' + teacher.id"
                      >{{ teacher.firstName }} {{ teacher.lastName }}</a
                    ></span
                  >

                  <span matListItemLine>nauczyciel</span>
                </mat-list-item>
              </mat-list>
              <mat-list-item>
                <span matListItemTitle>{{ lesson.eventName }}</span>
                <span>język</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>
                  {{ getStatusName(lesson.status) }}
                  <span
                    class="status-indicator"
                    [ngClass]="getStatusClass(lesson.status)"
                  ></span>
                </span>

                <span>status</span>
              </mat-list-item>

              <mat-list-item>
                <span matListItemTitle>
                  {{ lesson.startDate | date : "d MMMM yyyy" }}r.</span
                >
                <span>początek</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>
                  {{ lesson.startDate | date : "HH:mm" }} -
                  {{ lesson.endDate | date : "HH:mm" }}</span
                >
                <span matListItemLine>czas</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="row top-border text-centre">
          <div class="col-12">
            <mat-list>
              opis wydarzenia
              <mat-list-item>
                <span matListItemTitle> {{ lesson.description }}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 my-box">
      <app-attendance-list
        [lesson]="lesson"
        [attendance-list]="lesson.attendanceList"
        [courseId]="lesson.courseId"
      ></app-attendance-list>
    </div>
  </div>
</div>
