<div class="mt-3" *ngIf="lesson && teacher">
  <div>
    <p>Usuń lekcję:</p>
    <button mat-raised-button color="warn" (click)="openDialog()">Usuń</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="openEditDialog()">
      Edytuj
    </button>
  </div>
  <h4>Informacje o lekcji:</h4>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td><b>nazwa: </b>{{ lesson.eventName }}</td>
        <td>
          <b>data rozpoczęcia: </b>{{ lesson.startDate | date : "dd-MM-yyyy" }}
        </td>
        <td>
          <b>godziny: </b>{{ lesson.startDate | date : "HH:mm" }} -
          {{ lesson.endDate | date : "HH:mm" }}
        </td>
        <td><b>status: </b>{{ lesson.status }}</td>
      </tr>
      <tr>
        <td><b>Opis: </b>{{ lesson.description }}</td>
        <td>
          <b>Nauczyciel: </b>
          <a [routerLink]="'/teachers/' + teacher.id"
            >{{ teacher.firstName }} {{ teacher.lastName }}</a
          >
        </td>
        <td>
          <b>Kurs: </b>
          <a *ngIf="course" [routerLink]="'/courses/' + course.id">{{
            course.name
          }}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <app-attendance-list
    [lesson]="lesson"
    [attendance-list]="lesson.attendanceList"
  ></app-attendance-list>
</div>
