<section class="slider-area slider-area2" *ngIf="course">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <figure class="text-start">
                <blockquote class="blockquote">
                  <h1 data-animation="bounceIn" data-delay="0.2s">
                    {{ course.name }}
                  </h1>
                </blockquote>
                <figcaption class="blockquote-footer">
                  kurs języka
                  <cite title="Source Title">{{ course.language }}</cite>
                </figcaption>
              </figure>
            </div>
            <div *ngIf="course">
              <button class="pushable" (click)="openEditDialog()">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">Edytuj</span>
              </button>
              <audio
                #deleteSound
                src="../../../../../assets/sound/windows_98_error.mp3"
                preload="auto"
              ></audio>
              <button class="pushable" (click)="openDialog(deleteSound)">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">Usuń</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center my-margin" *ngIf="course">
  <div class="row">
    <div class="col text-start">
      <h3>
        <small class="text-body-secondary"> Start: </small>
        {{ course.startDate | date : "EEEE, d MMMM yyyy" }}
      </h3>
      <h3>
        <small class="text-body-secondary"> Koniec: </small>
        {{ course.endDate | date : "EEEE, d MMMM yyyy" }}
      </h3>
    </div>
    <div class="col text-start">
      <ul class="list-group list-group-flush text-start course-details">
        <li class="list-group-item">
          ilość lekcji:
          <small class="text-body-secondary">{{ course.lessonsLimit }}</small>
        </li>
        <li class="list-group-item">
          ilość miejsc:
          <small class="text-body-secondary">{{
            course.participantsLimit
          }}</small>
        </li>
        <li class="list-group-item">
          liczba studentów:
          <small class="text-body-secondary">{{
            course.participantsNumber
          }}</small>
        </li>
        <li class="list-group-item">
          liczba nauczycieli:
          <small *ngIf="teachers" class="text-body-secondary">{{
            teachers.length
          }}</small>
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>
        Cena:
        <small class="text-body-secondary"> {{ course.price || 0 }} zł </small>
      </h3>
      <h3>
        Status:
        <small class="text-body-secondary">
          {{ course.status }}
        </small>
      </h3>
    </div>
  </div>

  <div class="row" style="margin-bottom: 60px">
    <div class="col text-start p-3">
      <h1>Lekcje</h1>

      <app-course-lessons-table
        [course-id]="course.id"
        [lessons-limit]="course.lessonsLimit"
      ></app-course-lessons-table>
    </div>
  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col text-start">
      <div *ngIf="!students">
        <h2>Lista studentów jest pusta...</h2>

        <button class="pushable" type="submit" (click)="openEnrollDialog(true)">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front"> dodaj studenta</span>
        </button>
      </div>
      <div *ngIf="students">
        <h2>Studenci</h2>
        <div *ngIf="errMsg" class="alert alert-danger" role="alert">
          {{ errMsg }}
        </div>

        <button class="pushable" type="submit" (click)="openEnrollDialog(true)">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front"> dodaj studenta</span>
        </button>
        <table class="table" style="font-size: medium">
          <thead>
            <tr>
              <th scope="col">lp.</th>
              <th scope="col">imię i nazwisko</th>
              <th scope="col">status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a [routerLink]="'/students/' + student.id">
                  {{ student.firstName }} {{ student.lastName }}
                </a>
              </td>
              <td>{{ student.status }}</td>
              <td>
                <audio
                  #deleteSound
                  src="../../../../../assets/sound/windows_98_error.mp3"
                  preload="auto"
                ></audio>
                <button
                  *ngIf="student.status != 'REMOVED'"
                  class="pushable"
                  (click)="
                    openUnEnrollStudentDialog(student, true, deleteSound)
                  "
                >
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">Usuń</span>
                </button>

                <button
                  *ngIf="student.status == 'REMOVED'"
                  class="pushable"
                  (click)="restoreStudentToCourseDialog(student)"
                >
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">przywróć</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col text-start">
      <div *ngIf="!teachers">
        <h2>Lista nauczycieli jest pusta...</h2>
        <button
          *ngIf="role === 'ADMIN'"
          class="pushable"
          type="submit"
          (click)="openEnrollDialog(false)"
        >
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">dodaj nauczyciela</span>
        </button>
      </div>
      <div *ngIf="teachers">
        <h2>Nauczyciele</h2>
        <button
          *ngIf="role === 'ADMIN'"
          class="pushable"
          type="submit"
          (click)="openEnrollDialog(false)"
        >
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">dodaj nauczyciela</span>
        </button>
        <table class="table" style="font-size: medium">
          <thead>
            <tr>
              <th scope="col">lp.</th>
              <th scope="col">imię i nazwisko</th>
              <th scope="col">status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachers; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a [routerLink]="'/teachers/' + teacher.id">
                  {{ teacher.firstName }} {{ teacher.lastName }}
                </a>
              </td>
              <td>{{ teacher.status }}</td>
              <td>
                <audio
                  #deleteSound
                  src="../../../../../assets/sound/windows_98_error.mp3"
                  preload="auto"
                ></audio>
                <button
                  *ngIf="role === 'ADMIN'"
                  class="pushable"
                  type="submit"
                  (click)="
                    openUnEnrollTeacherDialog(teacher, false, deleteSound)
                  "
                >
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">usuń</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
