<section class="slider-area slider-area2" *ngIf="course">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2"></div>
  </div>
</section>

<div class="container-fluid" *ngIf="course">
  <audio
    #deleteSound
    src="../../../../../assets/sound/windows_98_error.mp3"
    preload="auto"
  ></audio>
  <div class="row text-start">
    <div class="col-4">
      <div class="teacher-data">
        <h2>Kurs</h2>
        <div class="row">
          <div class="col-12">
            <a (click)="openDialog(deleteSound)" class="teacher-icon">
              <button
                mat-mini-fab
                disabled
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </a>
            <a (click)="openEditDialog()" class="teacher-icon">
              <button
                mat-mini-fab
                disabled
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>edite</mat-icon>
              </button>
            </a>
          </div>
        </div>
        <div class="row top-border text-centre">
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>{{
                  getLanguageName(course.language)
                }}</span>
                <span>język</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>{{ course.name }}</span>
                <span matListItemLine>nazwa</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle> {{ course.coursePrice || 0 }} zł</span>
                <span matListItemLine>cena</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>
                  {{ getStatusName(course.status) }}
                  <span
                    class="status-indicator"
                    [ngClass]="getStatusClass(course.status)"
                  ></span>
                </span>

                <span>status</span>
              </mat-list-item>

              <mat-list-item>
                <span matListItemTitle>
                  {{ course.startDate | date : "d MMMM yyyy" }}r.</span
                >
                <span>początek</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle
                  >{{ course.endDate | date : "d MMMM yyyy" }}r.</span
                >
                <span matListItemLine>koniec</span>
              </mat-list-item>
            </mat-list>
          </div>

          <div class="row top-border text-centre">
            <div class="col-3">
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>{{ course.lessonsLimit }}</span>
                  <span matListItemLine>lekcje</span>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-3">
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>{{ teachers.length }}</span>
                  <span matListItemLine>nauczyciele</span>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-3">
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>{{ course.participantsNumber }}</span>
                  <span matListItemLine>uczniowie</span>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-3">
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>{{ course.participantsLimit }}</span>
                  <span matListItemLine>limit uczniów</span>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <app-course-lessons-table
        [course-id]="course.id"
        [lessons-limit]="course.lessonsLimit"
      ></app-course-lessons-table>
    </div>
  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row my-margin my-box">
    <div class="col-6 text-start">
      <div *ngIf="!students">
        <h2>Lista studentów jest pusta...</h2>

        <a (click)="openEnrollDialog(true)" class="add-course-icon">
          <button
            mat-mini-fab
            disabled
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </a>
      </div>
      <div *ngIf="students">
        <h2>Studenci</h2>
        <div *ngIf="errMsg" class="alert alert-danger" role="alert">
          {{ errMsg }}
        </div>

        <table class="table" style="font-size: medium">
          <thead>
            <tr>
              <th scope="col">
                <a (click)="openEnrollDialog(true)" class="add-course-icon">
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </a>
              </th>
              <th scope="col">imię i nazwisko</th>
              <th scope="col">status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; index as i">
              <th scope="row">{{ i + 1 }}.</th>
              <td>
                <a [routerLink]="'/students/' + student.id">
                  {{ student.firstName }} {{ student.lastName }}
                </a>
              </td>
              <td>
                <ng-container *ngIf="student.status === 'ACTIVE'">
                  Aktywny
                </ng-container>
                <ng-container *ngIf="student.status === 'INACTIVE'">
                  Nieaktywny
                </ng-container>
                <ng-container *ngIf="student.status === 'REMOVED'">
                  Usunięty
                </ng-container>
              </td>
              <td>
                <audio
                  #deleteSound
                  src="../../../../../assets/sound/windows_98_error.mp3"
                  preload="auto"
                ></audio>
                <a
                  *ngIf="student.status != 'REMOVED'"
                  (click)="
                    openUnEnrollStudentDialog(student, true, deleteSound)
                  "
                  class="add-course-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </a>

                <a
                  *ngIf="student.status == 'REMOVED'"
                  (click)="restoreStudentToCourseDialog(student)"
                  class="add-course-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>person_addr</mat-icon>
                  </button>
                </a>

                <button
                  *ngIf="student.status == 'REMOVED'"
                  class="pushable"
                  (click)="restoreStudentToCourseDialog(student)"
                >
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">przywróć</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-6 text-start">
      <div *ngIf="!teachers">
        <h2>Lista nauczycieli jest pusta...</h2>

        <a
          *ngIf="role === 'ADMIN'"
          (click)="openEnrollDialog(false)"
          class="add-course-icon"
        >
          <button
            mat-mini-fab
            disabled
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </a>
      </div>
      <div *ngIf="teachers">
        <h2>Nauczyciele</h2>

        <table class="table" style="font-size: medium">
          <thead>
            <tr>
              <th scope="col">
                <a
                  *ngIf="role === 'ADMIN'"
                  (click)="openEnrollDialog(false)"
                  class="add-course-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </a>
              </th>
              <th scope="col">imię i nazwisko</th>
              <th scope="col">status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachers; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a [routerLink]="'/teachers/' + teacher.id">
                  {{ teacher.firstName }} {{ teacher.lastName }}
                </a>
              </td>
              <td>
                <ng-container *ngIf="teacher.status === 'ACTIVE'">
                  Aktywny
                </ng-container>
                <ng-container *ngIf="teacher.status === 'INACTIVE'">
                  Nieaktywny
                </ng-container>
                <ng-container *ngIf="teacher.status === 'REMOVED'">
                  Usunięty
                </ng-container>
              </td>

              <td>
                <audio
                  #deleteSound
                  src="../../../../../assets/sound/windows_98_error.mp3"
                  preload="auto"
                ></audio>

                <a
                  *ngIf="role === 'ADMIN'"
                  (click)="
                    openUnEnrollTeacherDialog(teacher, false, deleteSound)
                  "
                  class="add-course-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
