<footer>
  <div class="footer-wrappper footer-bg">
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo mb-25">
                  <a href="index.html"
                    ><img src="assets/img/logo/logo2_footer.png" alt=""
                  /></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p>
                      Zdobywaj umiejętności dzięki kursom, certyfikatom i
                      dyplomom online oferowanym przez naszą szkołę.
                    </p>
                  </div>
                </div>
                <!-- social -->
                <div class="footer-social">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Nasze kursy</h4>
                <ul>
                  <li><a href="#">Polski</a></li>
                  <li><a href="#">Niemicki</a></li>
                  <li><a href="#">Angielski</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Kontakt</h4>
                <ul>
                  <li><a href="#">email: tom.ociepa@gmail.com</a></li>
                  <li><a href="#">tel: XXX-XXX-XXX</a></li>
                  <li><a>numer konta: XX XXXX XXXX XXXX XXXX XXXX XXXX</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Firma</h4>
                <ul>
                  <li><a href="#">Lang School</a></li>
                  <li><a href="#">ul. Aleja Zwycięstwa</a></li>
                  <li><a href="#">80-283 Gdańsk</a></li>
                  <li><a href="#">Polska</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border">
          <div class="row d-flex align-items-center">
            <div class="col-xl-12">
              <div class="footer-copy-right text-center">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy; 2024 Wszelkie prawa zastrzeżone | Ten szablon
                  jest wykonany z
                  <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End-->
  </div>
</footer>
