<div class="row">
  <div class="col">
    <figure class="text-start">
      <blockquote class="blockquote">
        <h2>Twoje dane</h2>
      </blockquote>
    </figure>
  </div>
  <div class="col text-start" *ngIf="user">
    <h3>
      <small class="text-body-secondary"> imię i nazwisko: </small>
      {{ user.firstName }} {{ user.lastName }}
    </h3>
    <h3>
      <small class="text-body-secondary"> adress email;</small>
      {{ user.email }}
    </h3>
  </div>
  <div class="col">
    <div class="row row-cols-2">
      <div class="col p-3">
        <button mat-raised-button color="primary" (click)="openEditDialog()">
          Edycja
        </button>
      </div>
    </div>
  </div>
</div>
