<section class="slider-area slider-area2" *ngIf="lesson">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <figure class="text-start">
                <blockquote class="blockquote">
                  <h1 data-animation="bounceIn" data-delay="0.2s">
                    {{ lesson.eventName }}
                  </h1>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title">{{ lesson.description }}</cite>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center" *ngIf="lesson && teacher">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->

  <div class="row my-margin">
    <div class="col text-start">
      <h3>
        <small class="text-body-secondary"> data rozpoczęcia: </small>
        {{ lesson.startDate | date : "EEEE, d MMMM yyyy" }}
      </h3>
      <h3>
        <small class="text-body-secondary"> czas: </small>
        {{ lesson.startDate | date : "HH:mm" }} -
        {{ lesson.endDate | date : "HH:mm" }}
      </h3>
      <h3 *ngIf="course">
        <small class="text-body-secondary"> kurs: </small>
        <a [routerLink]="'/account-student/course/' + course.id">{{
          course.name
        }}</a>
      </h3>
    </div>
    <div class="col">
      <ul
        class="list-group list-group-flush text-start"
        style="font-size: medium"
      >
        <li class="list-group-item">
          <small class="text-body-secondary">nauczyciel: </small>
          {{ teacher.firstName }} {{ teacher.lastName }}
        </li>
        <li class="list-group-item">
          <small class="text-body-secondary">status: </small>
          {{ lesson.status }}
        </li>
        <li class="list-group-item">
          <small class="text-body-secondary">obecność: </small>
          <ng-container *ngIf="this.lessonAttendance"> obecny </ng-container>
          <ng-container *ngIf="this.lessonAttendance == false">
            nieobecny
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>
