<section class="slider-area slider-area2">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2"></div>
  </div>
</section>
<audio
  #deleteSound
  src="../../../../../assets/sound/windows_98_error.mp3"
  preload="auto"
></audio>
<div class="container-fluid text-center">
  <div class="row text-start">
    <div class="col-4">
      <div class="teacher-data">
        <h2>Nauczyciel</h2>

        <div *ngIf="teacher" class="row">
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle
                  >{{ teacher.firstName }} {{ teacher.lastName }}</span
                >
                <span matListItemLine>imię i nazwisko</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>{{ teacher.email }}</span>
                <span>adres e-mail</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <a (click)="openEditDialog()" class="teacher-icon">
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>edite</mat-icon>
                  </button>
                </a>

                <a
                  *ngIf="
                    teacher && teacher.status == 'ACTIVE' && role == 'ADMIN'
                  "
                  (click)="openDialog()"
                  class="teacher-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>person_remove</mat-icon>
                  </button>
                </a>
                <a
                  *ngIf="
                    teacher && teacher.status == 'INACTIVE' && role == 'ADMIN'
                  "
                  (click)="openRestoreDialog()"
                  class="teacher-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>person_add</mat-icon>
                  </button>
                </a>
                <a
                  *ngIf="role == 'ADMIN'"
                  (click)="openDropDialog(deleteSound)"
                  class="teacher-icon"
                >
                  <button
                    mat-mini-fab
                    disabled
                    aria-label="Example icon button with a home icon"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>
                  {{ getTeacherStatus(teacher.status) }}</span
                >
                status konta
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <app-calendar [lessons]="teacherLessons"></app-calendar>
    </div>
  </div>

  <div class="row course-lesson-box" *ngIf="teacher">
    <div class="col-6">
      <app-teacher-courses-table
        [teacherId]="teacher.id"
        (selectedCourseId)="selectedCourse($event)"
      ></app-teacher-courses-table>
    </div>
    <div class="col-6">
      <app-teacher-lessons-table
        [teacher-id]="teacher.id"
        [select-course-id]="selectCourseId"
      ></app-teacher-lessons-table>
    </div>
  </div>

  <div class="row" *ngIf="teacher">
    <div class="col-6">
      <app-teacher-salary [teacher-id]="teacher.id"></app-teacher-salary>
    </div>
    <div class="col-6"></div>
  </div>

  <!-- <a (click)="createSalary(teacher.id)"> salary :)</a> -->
</div>
