.table-container {
  max-height: 400px;
  overflow-y: auto;
  display: block;
}

.course-header {
  display: flex;
  align-items: center;
  gap: 10px; /* Odstęp między elementami */
  padding: 10px;
}

table {
  width: 100%;
}

tr:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2); /* Domyślna poświata */
}

.green {
  background-color: green;
  box-shadow: 0 0 8px 2px rgba(0, 255, 0, 0.6); /* Zielona poświata */
}

.red {
  background-color: red;
  box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.6); /* Zielona poświata */
}

.orange {
  background-color: orange;
  box-shadow: 0 0 8px 2px rgba(255, 165, 0, 0.6); /* Pomarańczowa poświata */
}

.gray {
  background-color: gray; /* Ciemniejszy szary */
  box-shadow: 0 0 8px 2px rgba(128, 128, 128, 0.6);
}

/* add course button */

.add-course-icon button {
  transition: background-color 0.1s ease; /* Płynna zmiana tła */
}

.add-course-icon:hover button {
  background-color: rgba(0, 0, 0, 0.38);
}

.mat-mdc-mini-fab[disabled][disabled] {
  --mdc-fab-container-color: white;
  --mdc-fab-icon-color: rgba(0, 0, 0, 0.38);
  --mat-mdc-fab-color: rgba(0, 0, 0, 0.38);
}

.average-present {
  text-align: right;
  margin-top: 20px;
}
