<section class="mt-4">
  <mat-form-field>
    <mat-label>Filtrowanie</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Wyszukaj..."
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="lp">
        <th mat-header-cell *matHeaderCellDef>Lp.</th>
        <td mat-cell *matCellDef="let row; index as i">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
        <td mat-cell *matCellDef="let row">{{ row.eventName }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row">
          {{ row.startDate | date : "dd-MM-yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Czas</th>
        <td mat-cell *matCellDef="let row">
          {{ row.startDate | date : "HH:mm" }} -
          {{ row.endDate | date : "HH:mm" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Brak pasujących danych "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Wybierz stronę"
    ></mat-paginator>
  </div>
</section>
