<section class="slider-area slider-area2" *ngIf="!editMode">
  <div class="slider-active">
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <h1 *ngIf="!editMode" data-animation="bounceIn" data-delay="0.2s">
                dodaj ucznia:
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="student-form-wrapper mt-3" style="margin-bottom: 40px">
  <div *ngIf="errMsg" class="alert alert-danger" role="alert">
    {{ errMsg }}
  </div>
  <form [formGroup]="studentForm" (ngSubmit)="onAddStudent()">
    <div>
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="controls.firstName.invalid">{{
          getErrorMessage(controls.firstName)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="controls.lastName.invalid">{{
          getErrorMessage(controls.lastName)
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Adres e-mail</mat-label>
        <input matInput placeholder="test@gmail.com" formControlName="email" />
        <mat-error *ngIf="controls.email.invalid">{{
          getErrorMessage(controls.email)
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        mat-raised-button
        color="warn"
        *ngIf="editMode"
        (click)="emitCLoseDialog()"
      >
        Anuluj
      </button>
      <button
        class="mx-1"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="studentForm.invalid"
      >
        {{ editMode ? "Zapisz" : "Dodaj nowego ucznia" }}
      </button>
    </div>
    <!-- <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert> -->
  </form>
</div>
