<div class="container text-center">
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="../../../../assets/image/flag_great_britan.jpg"
          alt="Great Britain flag "
        />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/courses/en">Wybierz</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="../../../../assets/image/flag_poland.webp"
          alt="Poland flag"
        />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/courses/pl">Wybierz</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="../../../../assets/image/Flag_of_Germany.svg"
          alt="Germany flag"
        />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/courses/de">Wybierz</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
