<main>
  <!--? slider Area Start-->
  <section class="slider-area">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12">
              <div class="hero__caption">
                <h1 data-animation="fadeInLeft" data-delay="0.2s">
                  Szkoła Językowa<br />
                  Lang School
                </h1>
                <p data-animation="fadeInLeft" data-delay="0.4s">
                  Zdobywaj umiejętności dzięki kursom, certyfikatom i dyplomom
                  online oferowanym przez naszą szkołę.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ? services-area -->
  <div class="services-area bg-light">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-30">
            <div class="features-icon">
              <img src="assets/img/icon/icon1.svg" alt="" />
            </div>
            <div class="features-caption">
              <h3>Ponad 60 kursów</h3>
              <p>Duzy wybór kursów językowych</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-30">
            <div class="features-icon">
              <img src="assets/img/icon/icon2.svg" alt="" />
            </div>
            <div class="features-caption">
              <h3>Doświadczeni instruktorzy</h3>
              <p>Zatrudniamy tylko najlepszych nauczycieli</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-30">
            <div class="features-icon">
              <img src="assets/img/icon/icon3.svg" alt="" />
            </div>
            <div class="features-caption">
              <h3>Dostęp 24/h</h3>
              <p>Lekcje kiedy tylko zechcesz..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--? top subjects Area Start -->
  <div class="topic-area section-padding40 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8">
          <div class="section-tittle text-center mb-55">
            <h2>Nasze Kursy</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-topic text-center mb-30">
            <div class="topic-img">
              <img
                src="../../../../assets/image/flag_poland.webp"
                alt="Poland flag"
              />
              <div class="topic-content-box">
                <div class="topic-content">
                  <h3>
                    <a routerLink="/course-offering/courses/pl">Polski</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-topic text-center mb-30">
            <div class="topic-img">
              <img
                src="../../../../assets/image/flag_great_britan.jpg"
                alt="Great Britain flag "
              />
              <div class="topic-content-box">
                <div class="topic-content">
                  <h3>
                    <a routerLink="/course-offering/courses/en">Angielski</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-topic text-center mb-30">
            <div class="topic-img">
              <img
                src="../../../../assets/image/Flag_of_Germany.svg"
                alt="Germany flag"
              />
              <div class="topic-content-box">
                <div class="topic-content">
                  <h3>
                    <a routerLink="/course-offering/courses/de">Niemiecki</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- top subjects End -->

  <!--? About Area-1 Start -->
  <section class="about-area1 fix pt-10 bg-light">
    <div class="support-wrapper align-items-center">
      <div class="left-content1">
        <div class="about-icon">
          <img src="assets/img/icon/about.svg" alt="" />
        </div>
        <!-- section tittle -->
        <div class="section-tittle section-tittle2 mb-55">
          <div class="front-text">
            <h2 class="">
              Poznaj nowe umiejętności online z najlepszymi nauczycielami
            </h2>
            <p>
              Zautomatyzowany proces wszystkich zadań Twojej witryny. Odkryj
              narzędzia i techniki, aby skutecznie angażować dzieci i młodzież w
              trudnej sytuacji.
            </p>
          </div>
        </div>
        <div class="single-features">
          <div class="features-icon">
            <img src="assets/img/icon/right-icon.svg" alt="" />
          </div>
          <div class="features-caption">
            <p>
              Techniki skutecznego angażowania dzieci i młodzieży w trudnej
              sytuacji.
            </p>
          </div>
        </div>
        <div class="single-features">
          <div class="features-icon">
            <img src="assets/img/icon/right-icon.svg" alt="" />
          </div>
          <div class="features-caption">
            <p>
              Dołącz do tysięcy ludzi z całej polski, którzy uczą się razem.
            </p>
          </div>
        </div>

        <div class="single-features">
          <div class="features-icon">
            <img src="assets/img/icon/right-icon.svg" alt="" />
          </div>
          <div class="features-caption">
            <p>
              Dołącz dotysięcy ludzi z całej polski, uczących się razem. Nauka
              online jest tak łatwa i naturalna.
            </p>
          </div>
        </div>
      </div>
      <div class="right-content1">
        <!-- img -->
        <div class="right-img">
          <img src="assets/img/gallery/about3.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- About Area End -->

  <section class="about-area2 fix pb-padding bg-light">
    <div class="support-wrapper align-items-center">
      <div class="right-content2">
        <!-- img -->
        <div class="right-img">
          <img src="assets/img/gallery/about2.png" alt="" />
        </div>
      </div>
      <div class="left-content2">
        <!-- section tittle -->
        <div class="section-tittle section-tittle2 mb-20">
          <div class="front-text">
            <h2 class="">
              Zrób kolejny krok w kierunku swoich osobistych i zawodowych celów
              z nami.
            </h2>
            <p>
              Nasza szkoła to więcej niż nauka języka – to klucz do nowych
              przyjaźni, kariery i podróży bez granic. Oferujemy innowacyjne
              metody nauczania, które skutecznie angażują zarówno dzieci,
              młodzież, jak i dorosłych. Dzięki naszym doświadczonym lektorom
              oraz nowoczesnym materiałom edukacyjnym, każdy krok przybliży Cię
              do biegłej znajomości języka. Dołącz do nas i odkryj, jak
              przyjemna i efektywna może być nauka!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Area End -->
</main>
