<section class="slider-area slider-area2">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2" *ngIf="student">
              <figure class="text-start">
                <blockquote class="blockquote">
                  <h1 data-animation="bounceIn" data-delay="0.2s">
                    {{ student.firstName }} {{ student.lastName }}
                  </h1>
                  <h2 style="color: white">
                    {{ student.email }}
                  </h2>
                </blockquote>
                <figcaption
                  class="blockquote-footer"
                  style="color: wheat; font-size: medium"
                >
                  <cite title="Source Title">{{ student.status }}</cite>
                </figcaption>
              </figure>
            </div>
            <button class="pushable" (click)="openEditDialog()">
              <span class="shadow"></span>
              <span class="edge"></span>
              <span class="front">Edycja</span>
            </button>

            <button
              *ngIf="student && student.status == 'ACTIVE'"
              class="pushable"
              (click)="openDialog()"
            >
              <span class="shadow"></span>
              <span class="edge"></span>
              <span class="front">dezaktywuj konto</span>
            </button>

            <button
              *ngIf="student && student.status == 'INACTIVE'"
              class="pushable"
              (click)="openRestoreDialog()"
            >
              <span class="shadow"></span>
              <span class="edge"></span>
              <span class="front">aktywuj konto</span>
            </button>

            <audio
              #deleteSound
              src="../../../../../assets/sound/windows_98_error.mp3"
              preload="auto"
            ></audio>
            <button class="pushable" (click)="openDropDialog(deleteSound)">
              <span class="shadow"></span>
              <span class="edge"></span>
              <span class="front">Usuń</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <div class="row" *ngIf="student">
    <div class="row text-start p-md-3">
      <h2>Kursy</h2>
      <app-student-courses-table
        [studentId]="student.id"
      ></app-student-courses-table>
    </div>

    <div class="row text-start p-md-3">
      <h2>Lekcje</h2>
      <app-student-lessons-table
        [student-id]="student.id"
      ></app-student-lessons-table>
    </div>

    <div class="row text-start p-md-3">
      <h2>Płatności</h2>
      <app-student-payments-table
        [student-id]="student.id"
      ></app-student-payments-table>
    </div>
  </div>
</div>
