<section class="slider-area slider-area2">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2" *ngIf="student">
              <figure class="text-start">
                <blockquote class="blockquote">
                  <h1 data-animation="bounceIn" data-delay="0.2s">
                    {{ student.firstName }} {{ student.lastName }}
                  </h1>
                  <h2 style="color: white">
                    {{ student.email }}
                  </h2>
                </blockquote>
                <figcaption
                  class="blockquote-footer"
                  style="color: wheat; font-size: medium"
                >
                  <cite title="Source Title">
                    <ng-container *ngIf="student.status === 'ACTIVE'">
                      Aktywny
                    </ng-container>
                    <ng-container *ngIf="student.status === 'INACTIVE'">
                      Nieaktywny
                    </ng-container>
                  </cite>
                </figcaption>
              </figure>
            </div>
            <button class="pushable" (click)="openEditDialog()">
              <span class="shadow"></span>
              <span class="edge"></span>
              <span class="front">Edycja</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
