<nav>
  <mat-toolbar color="primary">
    <span>Lang School</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Strona główna</button>

    <ng-container *ngIf="isLoggedIn && isAdmin">
      <app-admin></app-admin>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && isTeacher">
      <app-teacher></app-teacher>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && isStudent">
      <app-student></app-student>
    </ng-container>

    <button *ngIf="!isLoggedIn" mat-button (click)="login()">Logowanie</button>
    <p *ngIf="isLoggedIn">
      {{ userProfile?.firstName }}
    </p>
    <button *ngIf="isLoggedIn" mat-button (click)="logout()">Wyloguj</button>
  </mat-toolbar>
</nav>
