<nav>
  <mat-toolbar color="primary">
    <span>Lang School</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Strona główna</button>

    <ng-container *ngIf="isLoggedIn">
      <button mat-button routerLink="courses">Kursy</button>
      <button mat-button routerLink="lessons">Lekcje</button>
      <button mat-button routerLink="teachers">Nauczyciele</button>
      <button mat-button routerLink="students">Uczniowie</button>
    </ng-container>

    <button *ngIf="!isLoggedIn" mat-button (click)="login()">Logowanie</button>
    <p *ngIf="isLoggedIn">
      {{ userProfile?.firstName }}
    </p>
    <button *ngIf="isLoggedIn" mat-button (click)="logout()">Wyloguj</button>
  </mat-toolbar>
</nav>
